.sectionContainerUsers {
  margin: 0 auto; 
  padding-top: 0px;
  width: calc(100vw - 15vw);
  max-width: 600px;
  height: 80vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}


.MuiListItem-alignItemsSpaceBetween {
  justify-content: space-between;
}